body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 36px;
}

.btn-default {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn-default:hover {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #212529;
}

.btn-lg {
    padding: 16px 28px;
}

.navbar.navbar-default.navbar-fixed-top {
    border: 0;
    background-color: #2c3e50;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #1abc9c;
}

.navbar-default .navbar-toggle {
    background-color: #1abc9c;
    border-color: #1abc9c;
    padding-top: 6px;
    padding-bottom: 6px;
}

.navbar-toggle > span {
    display: inline-block;
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-toggle:hover {
    background-color: #148f77;
    border-color: #148f77;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 18px;
    margin-left: 3px;
}

main {
    padding-top: 50px;
}

section {
    padding: 50px 0;
    color: #2c3e50;
}

section.opposite {
    background-color: #1abc9c;
    color: white;
}

.avatar {
    max-width: 240px;
}

.intro-title {
    font-size: 44px;
}

.intro-text {
    font-size: 20px;
}

.separator {
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: #2c3e50;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.separator .fa-star {
    vertical-align: middle;
    margin: 0 10px;
}

section.opposite .separator::before,
section.opposite .separator::after {
    background-color: white;
}

#portfolio img {
    margin-bottom: 30px;
    max-width: 400px;
    width: 100%;
}

#about button  {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    #portfolio img {
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .navbar-default .navbar-brand {
        font-size: 22px;
    }

    section {
        padding: 100px 0;
    }

    .intro-title {
        font-size: 64px;
    }

    .intro-text {
        font-size: 24px;
    }

    h2 {
        font-size: 48px;
    }
}
